* {
  padding: 0;
  margin: 0;
}

/* NAVBAR */

nav {
  height: 80px;
}

#mainNavbar {
  padding: 0px;
  width: 100%;
  background-color: white;
  position: fixed;
  margin-top: -9px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.nav-link,
.nav-item {
  margin-top: 5px;
  font-size: 12pt;
}

.navbar-brand img {
  margin: 5px 10px 0px 15px;
  height: 60px;
  padding: 0px !important;
  border-radius: 10px;
}

.dropdown-menu.profile {
  width: min-content;
}

.dropdown-item:hover {
  cursor: pointer;
}

.navbar-text {
  font-size: 14pt;
}

.login {
  margin-right: 25px;
}

/* LOGIN FORM */
#frmLogin {
  margin: 10% 0 0 40%;
  width: 410px;
}

.red-icon {
  color: #dc3545;
}

/* STUDENTS */

div.students {
  margin: 10% 0 0 10%;
}

/* TEACHERS */

div.teachers {
  margin: 10% 0 0 10%;
}

/* MEDIA QUERY */

@media screen and (max-width: 992px) {
  .navbar-brand img {
    height: 75px;
    margin-top: 0px;
  }

  .nav-link {
    margin-right: 90%;
    margin-right: 15px;
    float: right;
  }

  .navbar-nav li a {
    font-size: 18pt;
  }
}